<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
    <id>com.fr.plugin.nice.login</id>
    <name><![CDATA[登录界面]]></name>
    <active>yes</active>
    <hidden>no</hidden>
    <version>1.0</version>
    <env-version>8.0</env-version>
    <jartime>2017-03-22</jartime>
    <vendor>fanruan.chenlong</vendor>
    <description><![CDATA[决策系统登录界面]]></description>
    <change-notes><![CDATA[

	]]></change-notes>
    <extra-core>
        <LocaleFinder class="com.fr.plugin.nice.locale.FreshLoginLocaleFinder"/>
    </extra-core>
    <extra-report/>
    <extra-designer/>
    <extra-platform>
        <AccessProvider class="com.fr.plugin.nice.NiceLoginAccess"/>
    </extra-platform>
</plugin>